* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 20px 30px;
}

main {
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background-color: grey;
    height: 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

img {
    display: block;
    margin: 10px auto 5px auto;
}

/*span {
    margin-left: 20px;
}*/

article {
    margin: 20px 500px 20px;
}

h2, h3 {
    display: flex;
    justify-content: center;
}

small {
    display: flex;
    justify-content: center;
}

p {
    display: block;
    margin: 5px 500px 20px;
    justify-content: center;
}